* {
    margin: 0;
    box-sizing: border-box;
}
.advantages {
    height: 569px;
}

.title {
    padding-top: 120px;
    text-align: center;
    color: #383838;
    font-size: 40px;
}

.delimiter {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 4px;
    width: 100px;
    background-color: #F5BD41;
    border:none;
}

.offers {
    display: block;
    text-align: center; 
    margin: 80px 104px 120px;
}

.offers > div {
    display: inline-block;
    width: 296px;
}

.description-offers {
    margin-top: 48px;
    color: #383838;
    text-align: center;
    font-size: 24px;
}